%ul.breadcrumb
  %li
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} Friends
  %li.active Your Friends
.page-title
  %h2
    %span.fa.fa-users
    Friends
- if @friends.empty?
  .alone
    %h2
      Oh, you don't have any friends.
    %img{ src: asset_path("alone.jpeg") }
- else
  .page-content-wrap
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            - @friends.each do |friend|
              .col-md-3
                .panel.panel-default
                  .panel-body.profile{ style: "background-color: #262626; " }
                    .profile-image
                      - if friend.avatar.present?
                        %img{ src: friend.avatar.picture.thumb }
                      - else
                        %img{ src: asset_path("member.png") }
                    .profile-data
                      .profile-data-name
                        = friend.name
                      .profile-data-title
                        = friend.email
                    .profile-controls
                      %a.profile-control-left{ href: user_path(friend) }
                        %span.fa.fa-info
                      %a.profile-control-right{ href: user_path(friend) }
                        %span.fa.fa-phone
                  .panel-body
                    .contact-info
                      %p
                        %small
                          %i.fa.fa-phone
                          Mobile:
                        - if friend.phone_number.present?
                          = friend.phone_number
                        - else
                          none
                      %p
                        %small
                          %i.fa.fa-home
                          Address:
                        - if friend.address.present?
                          = friend.address
                        - else
                          none
                      %p
                        %small
                          %i.fa.fa-birthday-cake
                          Birthday:
                        - if friend.birthday.present?
                          = friend.birthday
                        - else
                          none
            = will_paginate @friends
