%ul.breadcrumb
  %li
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} Groups
.page-title
  %h2
    %span.fa.fa-rss-square
    Groups
.page-content-wrap
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Group
          .pull-right#new
            - if params[:type] == "all"
              %a.btn.btn-info{ href: groups_path(type: "yours") }
                %span.fa.fa-users
                Your Group
            %a.btn.btn-success{ href: "#new_group" }
              %span.fa.fa-plus
              New Group
        .panel-body
          .row
            - @groups.each do |group|
              .col-md-4
                .panel.panel-default{ style: "height: 80px" }
                  %table
                    %br
                    %tr{ style: "padding-top: 10px !important;"}
                      %td{ style: "width: 25%; padding-left: 10px;" }
                        - if group.cover.present?
                          %img.avatar-group{ src: "#{ group.cover.picture.thumb }" }
                        - else
                          %img.avatar-group{ src: asset_path("group.png") }
                      %td{ style: "width: 55%" }
                        = link_to "#{ group.name }", group_path(group)
                        %p
                          %small
                            #{ group.user_groups.count } members
                      %td{ style: "width: 20%; padding-right: 10px;" }
                        - if current_user.id == group.owner_id
                          %a.btn.btn-info
                            %span.fa.fa-bookmark
                            Owner
                        - else
                          - if current_user.belong_to_group?(group)
                            = link_to "Out Group", remove_user_from_group_path(group_id: group.id), method: :delete, class: "btn btn-danger"
                          - else
                            = link_to "Join", add_user_to_group_path(user_id: current_user.id, group_id: group.id), method: :post, class: "btn btn-success"
#new_group.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Create a group
      .modal-body
        .form-horizontal
          = form_for @group do |f|
            .form-group
              .col-md-12
                .title
                  Group name
                = f.text_field :name, class: "form-control"
            .form-group
              .col-md-12
                .title
                  Cover
                = f.file_field :cover, multiple: false, class: "file"
            .form-group
              .col-md-12
                .title
                  Description
                = f.text_field :description, class: "form-control"
            .form-group
              .col-md-12
                .title
                  Select Privacy of Group
                = f.select :kind, [["Public", "public"], ["Protected", "protected"], ["Private", "private"]], class: "btn btn-primary"
            .form-group
              .col-md-12
                = f.submit "Save", class: "btn btn-success"
:javascript
  $("#new").click(function() {
    $("#new_group").modal("show");
  });
