%ul.breadcrumb
  %li
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} Groups
.page-title
  %h2
    %span.fa.fa-rss-square
    = @group.name
  .pull-right
    .row
      - if current_user.id == @group.owner_id
        .col-md-6
          %a.btn.btn-default#edit{ href: "#edit_group" }
            %span.fa.fa-edit
            Edit
        .col-md-6
          = link_to "Delete", group_path(@group), method: :delete, class: "btn btn-danger"
.page-content-wrap
  .row
    .col-md-9
      .panel.panel-default
        .background-group#cover_background
      .panel.panel-default
        .panel-body
          .row
            .col-md-12
              .panel.panel-default
                .panel-body
                  %h3 What happened?
                  .form-horizontal{:role => "form"}
                    = form_for @post, url: group_posts_path(@group), method: :post do |f|
                      .form-group
                        .col-md-12
                          .input-group
                            %span.input-group-addon
                              %span.fa.fa-pencil
                            = f.text_area :content, placeholder: "What's in your mind?", :rows => "1", class: "form-control"
                      .form-group
                        .col-md-12
                          .pull-right
                            = f.submit "Post", class: "btn btn-success"
            - @posts.each do |post|
              .row
                .col-md-12
                  .timeline.timeline-right
                    .timeline-item.timeline-item-right
                      .timeline-item-content
                        .timeline-heading
                          .user-name
                            - if post.user.avatar.present?
                              %img.avatar-user{ src:post.user.avatar.picture.thumb }
                            - else
                              %img.avatar-user{ src: asset_path("member.png") }
                            = post.user.name
                          = post.created_at.strftime("%F, %H:%M")
                        .timeline-body
                          %p
                            = post.content
                        .timeline-body.comments
                          - post.comments.each do |comment|
                            .comment-item
                              - if comment.user.avatar.present?
                                %img.avatar-user{ src: comment.user.avatar.picture.thumb }
                              - else
                                %img.avatar-user{ src: asset_path("member.png") }
                              %p.comment-head
                                = comment.user.name
                              %p
                                = comment.content
                              %small.pull-right
                                = comment.created_at.strftime("%F, %H:%M")
                          .comment-write
                            .row
                              .col-md-1
                                - if current_user.avatar.present?
                                  %img.avatar-user{ src: current_user.avatar.picture.thumb }
                                - else
                                  %img.avatar-user{ src: asset_path("member.png") }
                              .col-md-11
                                = form_for @comment, url: group_post_comments_path(group_id: @group.id, post_id: post.id) do |f|
                                  .form-group.col-md-10
                                    = f.text_area :content, placeholder: "Write a comment", :rows => "1", class: "form-control"
                                  .form-group.col-md-2
                                    .pull-right
                                      = f.submit "Post", class: "btn btn-success"
    .col-md-3
      .panel.panel-primary
        .list-group-item
          .row
            .col-md-3{ style: "padding-left: 5px;" }
              %b
                Owner:
            .col-md-3
              - if @owner.avatar.present?
                %img.avatar-user{ src: @owner.avatar.picture.thumb }
              - else
                %img.avatar-user{ src: asset_path("member.png") }
            .col-md-4
              %h4
                = link_to @owner.name, user_path(@owner)
        .list-group-item
          %b
            Name:
          = @group.name
        .list-group-item
          %b
            Privacy:
          = @group.kind
        .list-group-item
          %b
            Created At:
          = @group.created_at.strftime("%F")
        .list-group-item
          %b
            Description:
          = @group.description

#edit_group.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Update your group
      .modal-body
        .form-horizontal
          = form_for @group do |f|
            .form-group
              .col-md-12
                .title
                  Group name
                = f.text_field :name, placeholder: "#{ @group.name }" ,class: "form-control"
            .form-group
              .col-md-12
                .title
                  Cover
                = f.file_field :cover, multiple: false, class: "file"
            .form-group
              .col-md-12
                .title
                  Description
                = f.text_field :description, placeholder: "#{ @group.description }", class: "form-control"
            .form-group
              .col-md-12
                .title
                  Select Privacy of Group
                = f.select :kind, [["Protected", "protected"], ["Private", "private"], ["Public", "public"]], selected: @group.kind, class: "btn btn-primary"
            .form-group
              .col-md-12
                = f.submit "Save", class: "btn btn-success"

:javascript
  $("#edit").click(function() {
    $("#edit_group").modal("show");
  });
  $(document).ready(function(){
    var cover_url;
    console.log(#{ @group.cover.present? });
    if (#{ @group.cover.present? }) {
      cover_url = "#{ @group.cover.try(:picture).try(:cover) }";
    } else {
      cover_url = "#{ asset_url("group.png") }";
    }
    $("#cover_background").css("background-image", "url(" + cover_url + ")");
  });
