%ul.breadcrumb
  %li
    %a{ href: "#" }
      Home
  %li.active
    Update Profile
.page-title
  %h1
    %span.fa.fa-edit
    Update Profile
.page-content-wrap
  .row
    .col-md-8
      .panel.panel-default
        .panel-body
          %h4
            %span.fa.fa-mail-forward
            Update Your Information
          .form-horizontal{ enctype: "multipart/form-data" }
            = form_for @user do |f|
              .form-group
                .col-md-12
                  .title
                    Your name
                  = f.text_field :name, class: "form-control", placeholder: @user.name
              .form-group
                .col-md-12
                  .title
                    Your phone_number
                  = f.text_field :phone_number, class: "form-control", placeholder: @user.phone_number
              .form-group
                .col-md-12
                  .title
                    Your birthday
                  = f.text_field :birthday, class: "form-control", placeholder: @user.birthday
              .form-group
                .col-md-12
                  .title
                    Your address
                  = f.text_field :address, class: "form-control", placeholder: @user.address
              .form-group
                .col-md-12
                  .title
                    Avatar
                  = f.file_field :avatar, multiple: false, class: "file"
              .form-group
                .col-md-12
                  = f.submit "Save", class: "btn btn-success"
