.page-container
  .page-sidebar
    %ul.x-navigation
      %li.xn-logo
        %a{ href: "#" }
          %img.logo-edit{ src: asset_path("logo_burned.png"), width: "50%" }
        %a.x-navigation-control{ href: "#" }
      %li.xn-profile
        %a.profile-mini{ :href => "#" }
          - if current_user.avatar.present?
            %img{ src: current_user.avatar.picture.thumb }
          - else
            %img{ src: asset_path("member.png") }
        .profile
          .profile-image
            - if current_user.avatar.present?
              %img{ src: current_user.avatar.picture.thumb }
            - else
              %img{ src: asset_path("member.png") }
          .profile-data
            .profile-data-name #{ current_user.name }
            .profile-data-title
              = current_user.email
          .profile-controls
            %a.profile-control-left{ href: user_path(current_user) }
              %span.fa.fa-info
            %a.profile-control-right{ href: edit_user_path(current_user) }
              %span.fa.fa-cog
      %li.xn-title
        Navigation
      %li
        %a{ href: user_path(current_user) }
          %span.fa.fa-desktop
          %span.xn-text
            = current_user.name
      %li
        %a{ href: groups_path(type: "all") }
          %span.fa.fa-desktop
          %span.xn-text
            All Groups
      %li
        %a{ href: groups_path(type: "yours") }
          %span.fa.fa-desktop
          %span.xn-text
            Your Groups
      %li
        %a{ href: friends_path }
          %span.fa.fa-desktop
          %span.xn-text
            Your Friends
      %li
        %a{ href: notifications_path }
          %span.fa.fa-desktop
          %span.xn-text
            Notifications

  .page-content
    %ul.x-navigation.x-navigation-horizontal.x-navigation-panel
      %li.xn-icon-button
        %a.x-navigation-minimize{ href: "#"}
          %span.fa.fa-dedent
      %li.xn-search.dropdown
        = form_tag(search_path, :method => "get", role: "form", class: "search_all") do
          = text_field_tag :search, params[:search], placeholder: "Search...", autocomplete: "off"
        .panel.panel-default.animated.zoomIn.xn-drop-right.xn-panel-dragging.ui-draggable{ style: "padding-top: 10px;" }
      %li.xn-icon-button.pull-right
        %a.mb-control{"data-box" => "#mb-signout", :href => "#"}
          %span.fa.fa-sign-out
      %li.xn-icon-button.pull-right
        %a{ href: "#notifications" }
          %span.fa.fa-bell
        .informer.informer-danger
          = unread_notification.count
        .panel.panel-primary.animated.zoomIn.xn-drop-left.xn-panel-dragging
          .panel-heading
            %h3.panel-title
              %span.fa.fa-bell
              Notifications
            .pull-right
              %a{ href: notifications_read_path }
                %span.label.label-danger #{ unread_notification.count } new
          .panel-body.list-group.list-group-contacts.scroll{ style: "height: 200px;" }
            - if unread_notification.count == 0
              %br
              %center You don't have new notification at this time!
            - else
              - unread_notification.each do |notification|
                %a.list-group-item{ href: notification_path(notification_id: notification) }
                  - if notification.get_sender.avatar.present?
                    %img.pull-left{ src: notification.get_sender.avatar.picture.profile_normal }
                  - else
                    %img.pull-left{ src: asset_path("member.png")}
                  %span.contacts-title
                    = notification.get_sender.name
                  %p
                    = notification.message
          .panel-footer.text-center
            %a{ href: notifications_path } Show all messages
      %li.xn-icon-button.pull-right
        %a{ href: "#friend" }
          %span.fa.fa-users
        .informer.informer-info
          = friend_requests.count
        .panel.panel-primary.animated.zoomIn.xn-drop-left.xn-panel-dragging
          .panel-heading
            %h3.panel-title
              %span.fa.fa-users
              Friend requests
          .panel-body.list-group.list-group-contacts.scroll{ style: "height: 200px;" }
            - if friend_requests.count == 0
              %br
              %center You don't have any friend request
            - else
              - friend_requests.each do |friend_request|
                .list-group-item
                  - if friend_request.avatar.present?
                    %img.pull-left{ src: friend_request.avatar.picture.profile_normal }
                  - else
                    %img.pull-left{ src: asset_path("member.png")}
                  %span.contacts-title
                    %a{ href: user_path(id: friend_request.id) }
                      = friend_request.name
                  .pull-right
                    = link_to "Accept", friend_path(id: friend_request.id, user_id: friend_request.id), method: :patch, class: "btn btn-info"
                    = link_to "Refuse", friend_path(id: friend_request.id, user_id: friend_request.id, type: "DeleteRequest" ), method: :delete, class: "btn btn-warning"
                  %p
                    #{ current_user.common_friends(friend_request).length } mutual friends
    #flash
      - flash.each do |name, msg|
        %div{ class: "alert alert-#{ name }" }
          = msg
    = yield
#mb-signout.message-box.animated.fadeIn{ "data-sound": "alert" }
  .mb-container
    .mb-middle
      .mb-title
        %span.fa.fa-sign-out
        Log
        %strong
          Out
        ?
      .mb-content
        %p
          Are you sure you want to log out?
        %p
          Press No if youwant to continue. Press Yes to logout.
      .mb-footer
        .pull-right
          = link_to "Yes", logout_path, method: :delete, class: "btn btn-danger btn-lg"
          %button.btn.btn-default.btn-lg.mb-control-close
            No

:javascript
  $(".search_all").keyup(function() {
    $(".panel.panel-default.animated.zoomIn.xn-drop-right.xn-panel-dragging.ui-draggable").html("");
    search_all();
  });

  function search_all() {
    $.ajax({
      url : "#{ search_path }",
      data : $("form.search_all").serialize(),
      success: function(data) {
        console.log(data)
        var users = data["users"];
        var groups = data["groups"];

        if (users != undefined) {
          var length_user;
          if (users.length < 3) {
            length_user = users.length;
          } else {
            length_user = 3;
          }
          for (var i = 0; i < length_user; i++) {
            html = "<li><a href='/users/" + users[i]["user"]["id"] + "' style='padding: 15px 0px 0px 0px;'><div class='row'>";
            if (users[i]["avatar"]) {
              avatar_url = users[i]["avatar"];
              console.log(avatar_url)
            } else {
              avatar_url = "#{ asset_url('member.png') }";
            }
            html += "<div class='col-xs-3'><img class='avatar-group' src='" + avatar_url + "' /></div>";
            html += "<div class='col-xs-6'><p style='font-size: 18px;'>" + users[i]["user"]["name"] + "</p><small>User</small></div>";
            html += "</div><br/></a></li>";
            $(".panel.panel-default.animated.zoomIn.xn-drop-right.xn-panel-dragging.ui-draggable").append(html);
          }
        }

        if (groups != undefined) {
          var length_group;
          if (groups.length < 3) {
            length_user = groups.length;
          } else {
            length_user = 3;
          }
          for (var j = 0; j < length_group; j++) {
            html = "<li><a href='/groups/" + groups[j]["group"]["id"] + "' ' style='padding: 15px 0px 0px 0px;'><div class='row'>";
            if (groups[j]["cover"]) {
              avatar_url = groups[j]["cover"];
            } else {
              avatar_url = "#{ asset_url('group.png') }";
            }
            console.log(groups[j]["group"]["id"])
            html += "<div class='col-xs-3'><img class='avatar-group' src='" + avatar_url + "' /></div>";
            html += "<div class='col-xs-6'><p style='font-size: 18px;'>" + groups[j]["group"]["name"] + "</p><small>Group</small></div>";
            html += "</div><br/></a></li>";
            $(".panel.panel-default.animated.zoomIn.xn-drop-right.xn-panel-dragging.ui-draggable").append(html);
          }
        }
      }
    });
  }
