.post-infomation
  - posts.each do |post|
    .detal_post
      = render "shared/post", post: post
- if posts.present?
  #post_edit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title Change your post
        .modal-body
          .form-horizontal
            = form_for posts[0], remote: true, authenticity_token: true do |f|
              .form-group
                .col-md-12
                  .title
                    Change your content
                  = f.text_area :content, class: "form-control"
                  = f.hidden_field :user_id, value: posts[0].user.id
              .form-group
                .col-md-12
                  = f.submit "Save", class: "btn btn-success"
:javascript
  var element_want_change;

  $(".read_more").click(function(){
    var element_need_handle = $(this).closest(".timeline-item-content").find(".comment_preview")
    if (element_need_handle.css("display") == "none") {
      $(this).closest(".timeline-item-content").find(".comment_preview").show();
    } else {
      $(this).closest(".timeline-item-content").find(".comment_preview").hide();
    }
  });

  $(document).on("click",".like",function(){
    $(".like").on("ajax:success", function(e, data, status, xhr) {
      if (data["post"] == undefined) {
        $(this).addClass("hidden_like")
        $(this).closest("p").find(".liked").removeClass("hidden_like")
        $(this).closest("p").find("#number_like").text(data["number_likes"])
      } else {
        $(this).addClass("hidden_like")
        $(this).closest(".timeline-footer").find(".liked").removeClass("hidden_like")
        $(this).closest(".timeline-footer").find("#number_like").text(data["number_likes"])
      }
    });
  });

  $(document).on("click",".liked",function(){
    $(".liked").on("ajax:success", function(e, data, status, xhr) {
      if (data["post"] == undefined) {
        $(this).addClass("hidden_like")
        $(this).closest("p").find(".like").removeClass("hidden_like")
        $(this).closest("p").find("#number_like").text(data["number_likes"])
      } else {
        $(this).addClass("hidden_like")
        $(this).closest(".timeline-footer").find(".like").removeClass("hidden_like")
        $(this).closest(".timeline-footer").find("#number_like").text(data["number_likes"])
      }
    });
  });

  $(document).on("click", ".edit_post_button", function(){
    element_want_change = $(this).closest(".row")
    var id_post = $(this).closest(".timeline-item-content").attr("id");
    id_post = id_post.split("_")[1];
    var content_post = $(this).closest(".timeline-item-content").find("#show_content_post").text()
    content_post = content_post.split("\n")[1].trim();
    console.log(content_post)
    var owner_id = $(this).closest(".timeline-item-content").find(".owner_name").attr("id");
    owner_id = owner_id.split("_")[1];
    var form = $(".edit_post");
    form.attr("action", "/posts/" + id_post);
    form.find("#post_content").val(content_post);
    form.find("#post_user_id").attr("value", owner_id);
    $("#post_edit").modal("show");
  });

  $(document).on("submit", ".edit_post", function() {
    $(".edit_post").on("ajax:success", function(e, data, status, xhr) {
      element_will_insert = element_want_change.closest(".detal_post");
      $("#post_edit").modal("hide");
      element_want_change.fadeOut("normal", function() {
        $(this).remove();
      });
      $(data["post_info"]).hide().appendTo(element_will_insert).fadeIn(1500);
    }).on("ajax:error", function(e, xhr, status, error) {
      $(this).append("<p>ERROR</p>");
    });
  });

  $(document).on("click",".destroy_post_button",function(){
    $(".destroy_post_button").on("ajax:success", function(e, data, status, xhr) {
      $(this).closest(".detal_post").fadeOut("normal", function() {
        $(this).remove();
      });
    });
  });

  var current_page = 1;
  var total_page = Math.ceil(#{ @number_post } / 5);

  $("body").scroll(function () {
    var p = $( ".timeline.timeline-right:last" );
    var offset = p.offset();
    if (offset.top < 500) {
      current_page += 1;
      if (current_page <= total_page) {
        $.ajax({
          type: "GET",
          url: "#{ posts_path }",
          data: { page: current_page, user_id: "#{ @user.id }" },
          async: false,
          success: function(data) {
            if (data["posts_info"] != undefined) {
              for(var i = 0; i < data["posts_info"].length; i++) {
                var post_html = "<div class='detal_post'>" + data["posts_info"][i] + "</div>"
                $('.post-infomation').append(post_html);
              }
            }
          }
        });
      }
    }
  });
