.post-infomation
  - posts.each do |post|
    = render "shared/post", post: post
:javascript
  $(".new_comment").on("ajax:success", function(e, data, status, xhr) {
    var html = "<div class='comment-item'>";
    if (data["avatar"] != undefined) {
      html += "<img class='avatar-user', src=" + data["avatar"] + " />";
    }
    else {
      html += "<img class='avatar-user', src=#{ asset_path('member.png') } />";
    }
    html += "<p class='comment-head'> " + data['user']['name'] + "</p>";
    html += "<p>"
    html += "<a class='like' data-remote='true' rel='nofollow' data-method='post' href='/likes?comment_id=" + data["comment"]["id"] + "&user_id=" + "#{ current_user.id }" + "'><span class='fa fa-thumbs-up'></span> Like</a>"
    html += "<a class='liked hidden_like' data-remote='true' rel='nofollow' data-method='delete' href='/likes/delete%20post?comment_id=" + data["comment"]["id"] + "&user_id=" + "#{ current_user.id }" + "'><span class='fa fa-thumbs-up'></span> Like</a>"
    html += "<span class='fa fa-diamond'></span>"
    html += "<a href='#'> <span class='fa fa-thumbs-up'></span> <span id='number_like'> 0 </span> </a>"
    html += "<span class='fa fa-diamond'></span>"
    html += "<small class='text-muted'>" + data['create_time'] + "</small> </p>";
    html += "<p>" + data['comment']['content'] + "</p>";
    html += "</div>"
    $(this).closest(".timeline-body.comments").children(".comment_preview").append(html);
    $(this).find("textarea#comment_content").val("");
    number_comment = $(this).closest(".timeline-item-content").find("#number_comment").text();
    number_comment = parseInt(number_comment) + 1;
    number_comment = $(this).closest(".timeline-item-content").find("#number_comment").text(number_comment);
  }).on("ajax:error", function(e, xhr, status, error) {
    $(this).append("<p>ERROR</p>");
  });

  $(".read_more").click(function(){
    var element_need_handle = $(this).closest(".timeline-item-content").find(".comment_preview")
    if (element_need_handle.css("display") == "none") {
      $(this).closest(".timeline-item-content").find(".comment_preview").show();
    } else {
      $(this).closest(".timeline-item-content").find(".comment_preview").hide();
    }
  });

  $(document).on("click",".like",function(){
    $(".like").on("ajax:success", function(e, data, status, xhr) {
      if (data["post"] == undefined) {
        $(this).addClass("hidden_like")
        $(this).closest("p").find(".liked").removeClass("hidden_like")
        $(this).closest("p").find("#number_like").text(data["number_likes"])
      } else {
        $(this).addClass("hidden_like")
        $(this).closest(".timeline-footer").find(".liked").removeClass("hidden_like")
        $(this).closest(".timeline-footer").find("#number_like").text(data["number_likes"])
      }
    });
  });

  $(document).on("click",".liked",function(){
    $(".liked").on("ajax:success", function(e, data, status, xhr) {
      if (data["post"] == undefined) {
        $(this).addClass("hidden_like")
        $(this).closest("p").find(".like").removeClass("hidden_like")
        $(this).closest("p").find("#number_like").text(data["number_likes"])
      } else {
        $(this).addClass("hidden_like")
        $(this).closest(".timeline-footer").find(".like").removeClass("hidden_like")
        $(this).closest(".timeline-footer").find("#number_like").text(data["number_likes"])
      }
    });
  });

  var current_page = 1;
  var total_page = Math.ceil(#{ @number_post } / 5);

  $("body").scroll(function () {
    var p = $( ".timeline.timeline-right:last" );
    var offset = p.offset();
    if (offset.top < 500) {
      current_page += 1;
      if (current_page <= total_page) {
        $.ajax({
          type: "GET",
          url: "#{ posts_path }",
          data: { page: current_page, user_id: "#{ @user.id }" },
          async: false,
          success: function(data) {
            if (data["posts_info"] != undefined) {
              for(var i = 0; i < data["posts_info"].length; i++) {
                $('.post-infomation').append(data["posts_info"][i]);
              }
            }
          }
        });
      }
    }
  });
